@import '../../style/style.scss';

.app {
    &__banner {
      background: url("../../resources/img/banner-bg.jpg") no-repeat;
      background-size: cover;    
      background-position: top;
      height: auto;
    }
  
    &__banner-wrapper {
      display: flex;
      align-items: center;
      justify-content: center; 
      flex-direction: column;   
      padding: 60px 0 60px;
      color: $light-color;
    }
    &__banner-img {
        width: 400px;
        margin-bottom: 30px;
        @include media-tablet {
          width: 300px;
        }
        @include media-mobilesmall {
          width: 225px;
        }
    }
    &__banner-text {
        font-size: 38px;
        font-weight: bold;
        @include media-tablet {
          font-size: 30px;
        }
        @include media-mobilesmall {
          font-size: 25px;
        }
    }
  }