@import '../../style/style.scss';

.comics {
    &__wrapper {
      padding: 60px 0px 40px;
      @include media-laptop {
        padding: 60px 30px 40px;
      }
      @include media-tablet {
        padding: 30px 20px;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;        
      flex-wrap: wrap;
      @include media-mobile {
        justify-content: center; 
      }     
    }    
    &__item { 
      display: flex;
      flex-direction: column;
      width: 225px;
      min-height: 415px; 
      margin-bottom: 55px;
      transition: 0.3s transform;
      @include media-mobile {
        width: 280px;
        margin-bottom: 40px;
      }
      @include media-mobilesmall {
        width: 225px;
        margin-bottom: 30px; 
      } 
        &-img {
            width: 225px;
            height: auto;
            box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);                        
            margin-bottom: 20px;
            object-fit: cover; 
            @include media-mobile {
              width: 280px;              
            }
            @include media-mobilesmall {
              width: 225px;              
            }
        }
        &-name {           
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
        &-price {
            margin-top: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
        }
        &:hover {
          transform: translateY(-8px);
          .comics__item-img {
            box-shadow: 0 26px 24px -16px $main-color;
          }
        }
    }
}