//Size
//$content-width: 1100px;
$content-width: 1100px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

//Color
$main-color: #9F0013;
$light-color: #ffffff;
$background-color: #202020;
$dark-color: #232222;
$button-color: #5C5C5C;