@import '../../../style/style.scss';

.single-comic {
    &__wrapper {      
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 40px 0;
        @include media-laptop {
            padding: 40px 30px;
          }
          @include media-mobile {
            flex-direction: column;
            padding: 40px 20px;          
          }
    }    
    &__img {
        box-shadow: 5px 5px 10px rgb(0 0 0 / 25%);
        width: 293px;
        height: auto;
        @include media-mobilesmall {
          width: 250px;          
        }
    }
    &__info {
      display: flex;
      flex-direction: column;      
      flex-grow: 2;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        margin-bottom: 40px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
    }
    &__price {
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        color: $main-color;
        margin-top: 40px;
        @include media-mobile {
          margin-top: 20px;          
        }
    }
    &__back {
        display: flex;
        justify-content: end;
        flex-basis: 11%;                
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        @include media-tablet {
          justify-content: start;
          color: $main-color;
        }
        &:hover {
            color: $main-color;
        }
    }
}