@import '../../../style/variables.scss';

.single-comic {
    &__wrapper {      
      display: grid;
      padding: 40px 0;
      grid-template-columns: 293px 550px auto;
      column-gap: 50px;
      align-items: start;
    }
    &__img {
        width: 293px;
        height: 450px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        margin-bottom: 40px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
    }
    &__price {
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        color: $main-color;
        margin-top: 40px;
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
}