@import './../../style/style.scss';

.app{
  &__footer-navigation-links {
    li {
      padding-right: 15px;
    }
    .link {
      width: 25px;
      height: 25px;
      color: white;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }      
    }
  }
  &__footer-navigation-title {
    margin-bottom: 15px;
    @include media-mobilesmall {
      margin-bottom: 8px;
    }
  }
  &__footer-navigation {
    display: flex;
    flex-direction: column;
  }
}