@import '../../style/style.scss';

.app {
    &__header {
        background-color: $background-color;                
    }
    &__header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 20px;

        @include media-tablet {
            padding: 30px;
          }
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        color: $light-color;
        span {
            color: $main-color;
        }
    }
    &__menu {
        color: $light-color;
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            li {
                margin: 0 8px;
                :hover {
                    color: $main-color;
                }
            }
        }
    }
    
}

.active {
    color: $main-color;
}
