@import '../../style/style.scss';

.app {
  &__promo {
    background: url("../../resources/img/promo-bg.jpg") no-repeat;
    background-size: cover;    
    background-position: center;
    height: auto;
  }

  &__promo-wrapper {
    display: flex;    
    justify-content: center;        
    padding: 130px 0 130px;
    
    @include media-mobile {
      padding: 80px 20px;
    }
  }

  &__promo-block {        
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $light-color;
  }

  &__promo-title {
    margin: auto;
    @include media-mobile {
      margin-bottom: 15px;
    }
  }
}
