@import '../../style/style.scss';

.app {
  &__footer {    
    background-color: #151515;
    padding: 20px 0 20px;
  }
  &__footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-laptop {
      padding: 0 20px;
    }
    @include media-mobilesmall {
      flex-direction: column;
    }
  }
  &__footer-title {
    font-weight: bold;
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 15px;
    color: $light-color;
    span {
      color: $main-color;
      @include media-mobilesmall {               
        line-height: 46px;						
        font-size: 40px;
      }
  }
  }
  &__footer-navigation-title {
    color: $light-color;
  }
  &__footer-navigation-links {
    display: flex;
  }
}